<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medmanager">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="Medi pro"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedManager">
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".TabletsAcitvity"
            android:exported="false" />
        <activity android:name=".MainActivity"></activity>

        <receiver android:name=".AlarmBroadcastReceiver" />
    </application>

</manifest>